<body style="text-align: center; background-color: rgba(9, 68, 95, 0.849);color: wheat;">
    <h1 style="font-size: 50px; text-align: center;">HUTECH HELPER</h1>
    <h2 style="text-align: center;">QUẢN LÝ THỜI KHÓA BIỂU TRƯỜNG BẰNG GOOGLE CALENDAR</h2>
    <h1>TRANG CHỦ</h1>

    <!-- <a style="text-decoration: none; border: 3px solid lightpink; background: lightpink; color: black; font-size: 20px; "
        href="/google/get">CLICK HERE TO IMPORT SCHEDULE TO GG CALENDAR</a> -->
    <form action="/google/get" method="POST" onSubmit="document.getElementById('import-btn').disabled=true;">
        <p>
            <input id="import-btn" type="submit" value="Import schedule to Google Calendar"
                style="font-size: 20px; background-color: wheat;">
        </p>
    </form>
    <p style="margin-top: 40px;">
        <a
            href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiJ-Nv-4rjuAhUIa94KHc5ACngQFjAAegQIARAD&url=https%3A%2F%2Fwww.google.com%2Fcalendar&usg=AOvVaw3DL1RYwWlxKdNRzzOWi7iZ"><img
                src="../public/img/calendar-icon.png" alt="" sizes="" width="80px" srcset="">
        </a>
    </p>

</body>